<div class="story-body">
    <h2></h2>
    <p>Growing data from states have underscored that communities of color are being harder hit by COVID-19.</p>
    <p>The novel coronavirus has claimed more than 48,000 American lives through April 23. However, full or partial data about the race and ethnicity of the deceased is known for only 62% of deaths. </p>
    <p>So far, many U.S. states have not released Covid-19 data by race. It is essential that policy-makers and other decision-makers have access to these data to inform their response to the pandemic. It is also important that these data are released publicly to shed light on the intersecting forces of racial disparities, underlying conditions, and poverty that affect how the virus spreads throughout the U.S.</p>
    <iframe title="Racial Data Unavailable in Many States" aria-label="USA states choropleth map" id="datawrapper-chart-t1KCL" src="//datawrapper.dwcdn.net/t1KCL/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();
</script>
</div>

