<div class="story-body">
  <p>The Centers for Disease Control and Prevention (CDC) began reporting national data on confirmed coronavirus cases by race and ethnicity as of April 17, 2020. They suggest that the virus is having disproportionate effects, with Black people accounting for 20% of deaths with known race/ethnicity compared to 13% of the total population as of April 21, 2020. </p>
  <p>However, race and ethnicity is missing or unspecified for nearly two-thirds (65%) of the CDC-reported cases, limiting the ability to interpret the data.</p>
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><iframe src="//datawrapper.dwcdn.net/QSYje/1/" width="100%" height="246" scrolling="no" frameborder="0" allowtransparency="true"></iframe></p>
  <p>In the majority of states reporting data, Black people accounted for a higher share of deaths (in 19 of 24 states) compared to their share of the total population. These disparities were particularly large in Wisconsin, where Black people made up an over six-times higher share of deaths (39% vs. 6%) compared to their share of the total population. </p>
  <iframe title="Black Americans Hit Hardest by COVID-19" aria-label="Range Plot" id="datawrapper-chart-GUmhl" src="//datawrapper.dwcdn.net/GUmhl/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="497"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();
</script>
</div>



